<header>
    <nav>
        <a href="/" target="_blank">
            <div class="title">
                <img src="/images/logo.png" alt="Church Logo" class="church-logo">
                <div>
                    <h1 class="site-title">St. Charles Lwanga</h1>
                    <p class="church-slogan">One Faith, One Family</p>
                </div>
            </div>
        </a>
        

        <button class="mobile-menu-btn" aria-label="Toggle menu">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <div class="menu-items">
            <ul>
                <li><a href="/" target="_blank">Home</a></li>
                <li><a href="/add-events">Add event</a></li>
                <li><a href="/manage-events">Manage Events</a></li>
                <li><a href="/messages">Messages</a></li>
                <!-- <li><a href="/contact">Contact</a></li> -->
                <!-- <li><a href="/donate" class="donate-btn">Donate</a></li> -->
            </ul>
        </div>
    </nav>
</header>